<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Authenticate</title>
  </head>
  <body>
    <h1>Authentication Page</h1>
    <p>Please choose an option:</p>
    <ul>
      <li><a href="/auth/login">Login</a></li>
      <li><a href="/auth/register">Register</a></li>
    </ul>
  </body>
</html>
